/* Write some CSS below */

body {

	font-family: "roboto", sans-serif;
}

h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}

p {
	color: Black;
   font-size:20px ;
   margin:;
   font-weight: ;
  

}

.banner-wrap {
	background-image: url("facebook_cover_photo_2.png");
	background-position: center;
	padding: 200px 0;
	text-align: center;
	
	left: 0;
	right: 0;
}

button {
	background-color: #E3901C;
	color:#304252;
	font-size: 20px;
	padding:16px 48px ;
	border-radius:4px;
	text-decoration:none ;
	transition: 5s;
	font-size:20px ;
	font-weight:bold;
	border:none;
}


.cards-wrap {
	width: 860px;
	margin: 60px auto;
}

.cards-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.card {
	background: white;
	box-shadow: 0 0 16px rgba(227,144,28,0.7);
	border-radius: 4px;
	padding: 24px;
	margin: 0px 20px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px

  
}

footer {
	background: #304252;
	color: #E3901C;
	padding: 30px 50px;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}

footer p {
	color:#E3901C;
	font-size: 15px;
	margin:0;
}